p {
    color: rgb(78, 78, 78);
}

#side { 
    font-size: x-large;
} 

/* p.silly { 
     background-color: grey; 
} */

h2.important {
    font-size: 30px;
}

h3.side {
    font-size: 24px;
}

.color {
    background-color: rgb(241, 241, 241);
}